* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Circe Regular";
  src: url("fonts/circe/Circe-Regular.eot");
  src: url("fonts/circe/Circe-Regular.eot") format("embedded-opentype"),
    url("fonts/circe/Circe-Regular.woff") format("woff"),
    url("fonts/circe/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Circe Regular", serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.top_nav a {
  font-size: 13px;
  padding-right: 52px;
}

.top_nav {
  margin-top: 5px;
  margin-left: 5%;
  position: absolute;
}

.underline {
  border-bottom: 1px solid #eceaed;
}

.top_nav a:hover {
  color: #c1a067;
}

.profile a {
  font-size: 13px;
}

.profile {
  margin-left: 75%;
  padding-left: 60px;
  padding-top: 8px;
  border-left: 1px solid #eceaed;
  border-right: 1px solid #eceaed;
  height: 30px;
  width: 8%;
}

.profile a:hover {
  color: #c1a067;
}

.favorites {
  position: absolute;
  margin-left: 90%;
  margin-top: 10px;
  font-size: 13px;
  width: 8%;
  text-align: center;
}

.favorites a:hover {
  color: #c1a067;
}

.favorites .underline {
  margin-top: 11px;
}

.main_logo {
  margin-top: 11px;
  margin-left: 85px;
}

.middle_nav {
  display: flex;
}

.purchases {
  position: absolute;
  padding-top: 28px;
  padding-left: 92%;
}

.purchases a:hover {
  opacity: 0.8;
}

.search {
  margin-top: 10px;
  margin-left: 105px;
}

form {
  position: relative;
  width: 300px;
  height: 42px;
}

i {
  margin-top: 25px;
  margin-left: 1155px;
  position: absolute;
  z-index: 2;
  color: #c1a067;
  cursor: pointer;
}

.search input {
  height: 40px;
  width: 1025px;
  padding: 0 42px 8px 0px;
  border: none;
  border-bottom: 2px solid #c1a067;
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  color: black;
  z-index: 2;
  font-family: "Circe Regular", serif;
  letter-spacing: 1px;
}

.search input:focus {
  outline: none;
}

.header_contacts {
  display: flex;
  margin-top: 99px;
  margin-left: -195px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header_contacts p {
  margin-right: 140px;
  font-weight: 900;
  font-size: 13px;
}

.telephon_pic {
  margin-right: 17px;
}

.e-mail_pic {
  margin-right: 17px;
}

.hours_pic {
  margin-right: 17px;
}

.catalog {
  width: 100%;
  background: #2f252e;
  padding: 25px 0 25px 0;
  margin-top: 20px;
}

.catalog .organic {
  margin-left: 15%;
}

.catalog a:nth-child(10) {
  padding: 25px 77px 25px 71px;
  background: #da6775;
}

.catalog a {
  color: #fff;
  margin-left: 100px;
}

.catalog a:hover {
  color: #c1a067;
}

.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.dropdown-child {
  display: none;
  margin-top: 16px;
  background: white;
  border-top: 4px solid #c1a067;
  margin-left: 60px;
  padding-bottom: 28px;
  width: 255px;
  box-shadow: 17px 29px 49px 0px rgba(0, 0, 0, 0.1);
}
.dropdown-child a {
  color: #000000;
  padding-top: 21px;
  text-decoration: none;
  display: block;
  margin-left: 30px;
}
.dropdown:hover .dropdown-child {
  display: block;
}

.background img {
  margin-top: 65px;
  margin-left: 290px;
  width: 84.7%;
  position: absolute;
  z-index: 1;
}
.dots {
  position: absolute;
  margin-top: 680px;
  margin-left: 340px;
  z-index: 1;
}
.dots img {
  padding: 15px;
}
.tagline {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  width: 560px;
  margin-left: 70px;
  position: absolute;
  top: 480px;
  z-index: 1;
  color: #2f252e;
}
.more {
  position: absolute;
  margin-left: 68px;
  margin-top: 395px;
}

.more a {
  font-size: 14px;
  color: #cea164;
}

.line {
  border-bottom: 2px solid #cea164;
  width: 714px;
  padding-bottom: 19px;
}

.price {
  font-size: 13px;
  margin-left: 60%;
  margin-top: 27%;
  position: absolute;
  z-index: 2;
}

.recomended {
  height: 283px;
  width: 355px;
  background: #f9f9f9;
  position: absolute;
  margin-top: 43px;
  margin-left: 78%;
  z-index: 1;
  box-shadow: -32px 28px 54px 0px rgba(36, 25, 5, 0.05);
}

.recomended h3 {
  padding-left: 48px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  text-transform: uppercase;
  color: #2f252e;
}

.recomended a:first-of-type {
  padding-top: 30px;
}

.recomended a {
  display: block;
  padding-left: 48px;
  padding-top: 19px;
}

.recomended a:hover {
  color: #e48c96;
}

.second_line {
  border-bottom: 2px solid #cea164;
  width: 370px;
  margin-left: 48px;
}

.advantages {
  position: absolute;
  margin-top: 820px;
  display: flex;
}

.advantages p {
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 50px;
  font-weight: 900;
  letter-spacing: 1px;
  width: 175px;
}

.short_line {
  border-top: 1px solid #edebee;
  width: 80px;
  margin-left: 120px;
}

.bestsellers {
  position: absolute;
  margin-top: 900px;
  margin-left: 40%;
}

.heading {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.heading h2 {
  padding-bottom: 25px;
}

.first_position .right_line {
  margin-top: 40px;
}

.another_underline {
  border-bottom: 2px solid #cea164;
  width: 427px;
}

.first_block {
  margin-left: 150px;
  margin-top: 1000px;
  position: absolute;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.first_position p:first-of-type {
  background: #da6775;
  color: #fff;
  width: 50px;
  text-align: center;
  font-size: 14px;
}

.right_line {
  border-right: 1px solid #edebee;
  height: 350px;
  position: absolute;
  margin-left: 350px;
}

.first_position h3 {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.first_position p {
  font-size: 13px;
  color: #645f65;
  text-align: center;
}

.first_position p:last-of-type {
  color: #000000;
  padding-top: 15px;
}

.first_position {
  margin-top: 35px;
}

.second_position {
  padding-left: 200px;
  margin-top: 75px;
}

.first_position span {
  color: #da6775;
  text-decoration: line-through;
}

.second_position h3 {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.second_position p {
  font-size: 13px;
  color: #645f65;
  text-align: center;
}

.second_position p:last-of-type {
  color: #000000;
  padding-top: 15px;
}

.third_position {
  padding-left: 200px;
  margin-top: 70px;
  width: 200px;
}

.third_position h3 {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.third_position p {
  font-size: 13px;
  color: #645f65;
  text-align: center;
}

.third_position p:last-of-type {
  color: #000000;
  padding-top: 15px;
}

.fourth_position {
  padding-left: 200px;
  margin-top: 85px;
}

.fourth_position h3 {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.fourth_position p {
  font-size: 13px;
  color: #645f65;
  text-align: center;
}

.fourth_position p:last-of-type {
  color: #000000;
  padding-top: 15px;
}

.new_arrivals {
  position: absolute;
  margin-top: 1500px;
  margin-left: 40%;
}

.second_block {
  margin-left: 150px;
  margin-top: 1600px;
  position: absolute;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.first_position_new {
  padding-top: 70px;
}

.first_position_new h3 {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.first_position_new p {
  font-size: 13px;
  color: #645f65;
  text-align: center;
}

.first_position_new p:last-of-type {
  color: #000000;
  padding-top: 15px;
}

.special_offers {
  position: absolute;
  margin-top: 2050px;
  margin-left: 40%;
  width: 400px;
  padding-top: 100px;
}

.special_offers h3 {
  margin-left: 100px;
  color: #2f252e;
}

.third_block {
  margin-left: 150px;
  margin-top: 2300px;
  position: absolute;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.top_brands {
  position: absolute;
  margin-top: 2850px;
  margin-left: 40%;
}

.top_brands p {
  padding-top: 25px;
  font-size: 14px;
  color: #c1a067;
  font-weight: bold;
}

.main_brands {
  position: absolute;
  margin-top: 3000px;
  margin-left: 140px;
}

.main_brands img {
  padding-right: 80px;
}

.brands_list {
  margin-top: 3120px;
  display: flex;
  position: absolute;
}

.first_list {
  margin-left: 240px;
  padding-right: 200px;
}

.second_list {
  padding-right: 160px;
}

.third_list {
  padding-right: 160px;
}

.fourth_list {
  padding-right: 160px;
}

.fifth_list {
  padding-right: 160px;
}

.first_list ul li {
  padding-top: 10px;
  color: #2f252e;
}

.second_list ul li {
  padding-top: 10px;
  color: #2f252e;
}

.third_list ul li {
  padding-top: 10px;
  color: #2f252e;
}

.fourth_list ul li {
  padding-top: 10px;
  color: #2f252e;
}

.fifth_list ul li {
  padding-top: 10px;
  color: #2f252e;
}

.next {
  margin-left: 320px;
  margin-top: 117px;
  position: absolute;
}

.back {
  margin-left: -70px;
  margin-top: 160px;
  position: absolute;
}

.last_next {
  margin-top: 100px;
  margin-left: 50px;
}

.last_back {
  margin-left: -150px;
  margin-top: 90px;
  position: absolute;
}

.articles_news {
  margin-top: 3400px;
  position: absolute;
  margin-left: 40%;
  width: 400px;
  padding-top: 100px;
}

.articles_news h3 {
  margin-left: 100px;
  color: #2f252e;
}

a:hover {
  color: #cfad73;
}

ul li:hover {
  color: #cfad73;
}

.brands_list a:hover {
  opacity: 0.8;
}

.first_block img:hover {
  opacity: 0.8;
}

.second_block img:hover {
  opacity: 0.8;
}

.third_block img:hover {
  opacity: 0.8;
}

.fourth_block img:hover {
  opacity: 0.8;
}

.main_brands img:hover {
  opacity: 0.7;
}

.articles {
  margin-top: 3650px;
  margin-left: 65px;
  height: 800px;
  position: absolute;
  width: 700px;
}

.under_line {
  border-bottom: 1px solid #eceaed;
  margin-top: 25px;
  margin-bottom: 25px;
}

.articles h3 {
  text-transform: uppercase;
  color: #59555a;
}

.articles h3:hover {
  color: #cfad73;
}

.news h3:hover {
  color: #cfad73;
}

.articles p {
  padding-top: 18px;
  color: #767376;
}

.articles p span {
  color: #cfad73;
}

.other_articles {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #cfad73;
  letter-spacing: 2px;
}

.news {
  position: absolute;
  height: 930px;
  width: 850px;
  background: #f9f9f9;
  margin-top: 3600px;
  margin-left: 960px;
}

.first_pic {
  margin-top: 70px;
  margin-left: 30px;
  position: absolute;
}

.second_pic {
  position: absolute;
  margin-top: 250px;
  margin-left: 415px;
}

.third_pic {
  position: absolute;
  margin-top: 490px;
  margin-left: 30px;
}

.first_new {
  width: 450px;
  position: absolute;
  margin-top: 90px;
  margin-left: 228px;
}

.second_new {
  width: 430px;
  position: absolute;
  margin-top: 300px;
  margin-left: 30px;
}

.third_new {
  width: 450px;
  position: absolute;
  margin-top: 490px;
  margin-left: 228px;
}

.news h3 {
  text-transform: uppercase;
  color: #59555a;
}

.news p {
  color: #767376;
  padding-top: 15px;
}

.news p span {
  color: #cfad73;
}

.other_news {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #cfad73;
  letter-spacing: 2px;
  margin-top: 700px;
}

.news p span:hover {
  opacity: 0.8;
}

.articles p span:hover {
  opacity: 0.8;
}

footer {
  background: #2f252e;
  position: absolute;
  width: 100%;
  height: 550px;
  margin-top: 4450px;
  color: white;
  display: flex;
}

.about_company {
  width: 12%;
  margin-top: 76px;
  margin-left: 120px;
}

.about_company li {
  color: #cdcbcc;
  padding-bottom: 7px;
}

.about_company h4 {
  font-size: 15px;
  letter-spacing: 3px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.footer_catalog {
  width: 12%;
  margin-top: 76px;
  margin-left: 230px;
}

.footer_catalog h4 {
  font-size: 15px;
  letter-spacing: 3px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.footer_catalog li {
  color: #cdcbcc;
  padding-bottom: 7px;
}

.contacts {
  margin-left: 220px;
  margin-top: 76px;
  width: 16%;
}

.contacts h4 {
  font-size: 15px;
  letter-spacing: 3px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.contacts li {
  color: #cdcbcc;
  padding-bottom: 20px;
}

.contacts li:hover {
  color: #cdcbcc;
}

.contacts p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 0 10px 20px;
}

.whatsup {
  position: absolute;
  margin-left: 155px;
}

.viber {
  position: absolute;
  margin-left: 195px;
  margin-top: 3px;
}

.tel {
  position: absolute;
  margin-top: 12px;
}

.e-mail {
  position: absolute;
  margin-top: 12px;
}

.skype {
  position: absolute;
  margin-top: 13px;
}

.social {
  width: 30%;
  margin-left: 170px;
  margin-top: 76px;
}

.social input {
  width: 100%;
  background: #2f252e;
  font-family: "Circe Regular", serif;
  letter-spacing: 1px;
  color: #d5d3d4;
  font-size: 14px;
  height: 40px;
  padding: 0 42px 8px 0px;
  border: none;
  border-bottom: 2px solid #c1a067;
  position: absolute;
  font-weight: 600;
}

.button_block input {
  border: none;
  width: 125px;
  margin-top: 80px;
  margin-left: 222px;
  color: #c1a067;
  cursor: pointer;
}

.social h4 {
  font-size: 15px;
  letter-spacing: 3px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.social h5 {
  margin-top: 115px;
  margin-left: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.instagram {
  position: absolute;
  margin-top: 80px;
  margin-right: 250px;
}

.footer_underline {
  position: absolute;
  width: 90%;
  border-bottom: 1px solid #3f373f;
  margin-top: 400px;
  margin-left: 85px;
}

.copyright {
  position: absolute;
  display: flex;
  margin-top: 450px;
  margin-left: 70px;
  color: #cdcbcc;
}

.copyright img {
  padding-left: 1200px;
  padding-right: 16px;
}
@media screen and (max-width: 1915px) {
  .catalog .organic {
    margin-left: 15%;
  }

  .catalog a:nth-child(10) {
    margin-left: 90.5%;
    margin-bottom: 10px;
    padding: 40px 73px 18px 71px;
  }
  .catalog {
    padding: 18px 0 18px 0;
  }
  .main_brands {
    margin-left: 80px;
  }

  .main_brands img {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1700px) {
  .search input {
    width: 700px;
  }
  i {
    margin-left: 830px;
  }
  .header_contacts p {
    margin-right: 35px;
  }
  .price {
    margin-left: 70%;
    margin-top: 30%;
  }
  .dots {
    display: none;
  }
  .advantages p {
    padding-left: 10px;
    width: 150px;
  }
  .first_block {
    margin-left: 5%;
    width: 70%;
  }
  .second_block {
    margin-left: 5%;
    width: 70%;
  }
  .third_block {
    margin-left: 5%;
    width: 70%;
  }
  .fourth_block {
    margin-left: 5%;
    width: 70%;
  }
  .main_brands {
    margin-left: 80px;
  }

  .main_brands img {
    padding-right: 50px;
    width: 150px;
  }
}

@media screen and (max-width: 1380px) {
  .search input {
    width: 500px;
  }
  i {
    margin-left: 630px;
  }
  .header_contacts p {
    margin-right: 40px;
    font-size: 10px;
  }
  .purchases img {
    width: 50px;
  }
  .recomended {
    display: none;
  }
  .tagline {
    font-size: 25px;
  }
  .price {
    margin-left: 80%;
  }
  .background img {
    width: 100%;
  }
  .main_brands {
    margin-left: 30px;
  }

  .main_brands img {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .header_contacts {
    margin-left: -300px;
  }
  .main_logo img {
    width: 150px;
  }
  .favorites {
    margin-left: 90%;
    margin-top: 10px;
    width: 10%;
  }
  .profile {
    margin-left: 75%;
    padding-left: 50px;
    border-left: none;
    border-right: none;
    height: 30px;
    width: 13%;
  }
}

@media screen and (max-width: 1100px) {
  .search input {
    width: 250px;
  }
  .favorites {
    margin-left: 82%;
  }
  .profile {
    margin-left: 65%;
    padding-left: 30px;
  }
  i {
    margin-left: 380px;
  }
  .main_logo img {
    width: 100px;
  }
  .header_contacts {
    margin-left: -500px;
  }
  .top_nav a {
    padding-right: 20px;
  }
  .tagline {
    font-size: 15px;
  }
  .more {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .favorites img {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .search input {
    margin-left: -50px;
  }
  i {
    margin-left: 230px;
  }
  .header_contacts p {
    margin-right: 15px;
    font-size: 9px;
  }
  .top_nav a {
    padding-right: 5px;
  }
  .profile {
    margin-left: 62%;
    padding-left: 5px;
    width: 14%;
  }
  .favorites {
    margin-left: 79%;
  }
}

@media screen and (max-width: 700px) {
  .top_nav a {
    padding-right: 3px;
  }
}
